/*
Author: Genio - Yüce Özkan
Author URL: http://www.genio.com.tr/
*/
@import url('https://fonts.googleapis.com/css?family=Paytone+One&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=latin-ext');

* {font-family:'Open Sans',Arial,sans-serif;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body{background:#ededed;font:normal 400 14px/18px 'Open Sans',Arial,sans-serif;color:#000;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;-webkit-overflow-scrolling:touch;}

fieldset, form {margin:0;}
label,legend {font-weight:inherit;font-size:0;color:inherit;}
label span,legend span {font-weight:inherit;font-size:inherit;color:inherit;}

a {color:inherit;}
a:hover {color:inherit;text-decoration:none;}

.table {display:table;margin:0;}
.table-cell {display:table-cell;}
.full-width {width:100%;}
.full-height {height:100%;}
.valign-middle {vertical-align:middle;}
.valign-bottom {vertical-align:bottom;}

.full-page-section {padding-right:320px;overflow:hidden;}
.fp-tableCell {position:relative;}

.baloncuk {position:absolute;background:url("../images/baloncuk.png") no-repeat;background-size:100%;z-index:100;animation:baloncukAnimate 5s infinite linear;transform:translate(0,100%);opacity:0;}
@keyframes baloncukAnimate {
    0% {transform:translate(0,0);opacity:0.1;}
    5% {transform:translate(0,-5%);opacity:1;}
    100% {transform:translate(0,-500%);opacity:0;}
}

#header {position:absolute;top:40px;left:50%;width:908px;z-index:2;margin-left:-410px}
#header .logo {float:left;}
#header .logo h1 {margin:0;}
#header .logo h1 a {display:block;width:159px;height:80px;background:url("../images/logo.png") no-repeat;background-size:100%;}
#header .nav {float:right;}
#header .nav nav {}
#header .nav nav ul {margin:0 -25px;padding:0;list-style:none inside;}
#header .nav nav ul li {float:left;margin:0;padding:0 25px;}
#header .nav nav ul li a {display:block;line-height:80px;color:#00748d;font-size:15px;font-family:"Paytone One",sans-serif;letter-spacing:-0.025em;}

#sidebar {width:320px;height:100%;position:fixed;top:0;right:0;overflow:auto;background:#00748d url('../images/sidebar-bg.png') repeat-y right top;z-index:100;transition:all .3s ease;color:#fff;text-align:center;letter-spacing:-0.025em;}
#sidebar .sidebar-table {margin:55px 15px 15px 15px;border:2px solid #fff;border-top:0;position:relative;padding:35px 15px 30px 15px;}
#sidebar .sidebar-table:before {content:"";width:22.5%;left:0;top:0;background:#fff;height:2px;position:absolute;transition:all .3s ease;}
#sidebar .sidebar-table:after {content:"";width:22.5%;right:0;top:0;background:#fff;height:2px;position:absolute;transition:all .3s ease;}
#sidebar .sidebar-table .sidebar-logo {width:108px;height:57px;position:absolute;top:-28.5px;left:50%;margin-left:-54px;background:url("../images/sidebar-logo.png") no-repeat;background-size:cover;text-indent:-9999px;z-index:1;transition:all .3s ease;}
.fp-viewing-0 #sidebar {height:85%;top:15%;}
.fp-viewing-0 #sidebar .sidebar-table:before {width:50%;}
.fp-viewing-0 #sidebar .sidebar-table:after {width:50%;}
.fp-viewing-0 #sidebar .sidebar-table .sidebar-logo {opacity:0;transform:scale(0,0);}


#sidebar form {}
#sidebar form fieldset {}
#sidebar form fieldset p {font-size:13px;font-weight:bold;text-transform:uppercase;}
#sidebar form fieldset label {width:100%;display:block;margin-bottom:10px;}
#sidebar form fieldset .checkbox label {font-size:13px;line-height:120%;text-align:left;position:relative;padding-left:24px;}
#sidebar form fieldset .checkbox label .custom-checkbox {position:absolute;width:18px;height:18px;border:1px solid #fff;border-radius:4px;top:0;left:0;}
#sidebar form fieldset .checkbox label .custom-checkbox.selected:after {content:"";position:absolute;width:12px;height:12px;background:#fff;border-radius:2px;top:50%;left:50%;margin-top:-6px;margin-left:-6px;}
#sidebar form fieldset .checkbox label a {font-weight:bold;text-decoration:underline;}
#sidebar form fieldset .form-control {width:100%;background:rgba(0,82,100,0.77);padding:0 15px;margin:0;line-height:40px;border-radius:8px;color:#fff;border:0;box-shadow:inset 0px 0px 6px 0px rgba(0,0,0,0.12)!important;outline:0;font-size:13px;}
#sidebar form fieldset .form-control::-webkit-input-placeholder{color:rgba(255,255,255,0.7);}
#sidebar form fieldset .form-control::-moz-placeholder{color:rgba(255,255,255,0.7);}
#sidebar form fieldset .form-control:-ms-input-placeholder{color:rgba(255,255,255,0.7);}
#sidebar form fieldset .form-control:-moz-placeholder{color:rgba(255,255,255,0.7);}
#sidebar form fieldset button {width:188px;margin:0 auto;background:url("../images/btn-bg.png") repeat-x;background-size:auto 100%;box-shadow:1px 0px 7px 28px rgba(0,116,141,0.34);border-radius:8px;line-height:36px;border:2px solid #005a6d;font-weight:800;font-size:15px;text-align:center;color:#00748d;cursor:pointer;}
#sidebar .phone {font-size:16px;font-weight:700;margin:12px 0 24px 0;}
#sidebar address {margin:0;}

#fp-nav.right {right:350px;}
#fp-nav ul li:nth-child(1) {display:none;}
#fp-nav ul li {width:16px!important;height:16px!important;margin:10px 0!important;}
#fp-nav ul li a span {display:block;width:16px!important;height:16px!important;background:#fff;box-shadow:-1px 1px 8px 0px rgba(0,0,0,0.18);margin:0!important;}
#fp-nav ul li a.active span {width:16px!important;height:16px!important;margin:0!important;background:#00748d;}

.full-page-section {transition:all .3s ease;}
.fp-viewing-11 #sidebar {width:0;}
.fp-viewing-11 .full-page-section.active {padding-right:0;}
.fp-viewing-11 #fp-nav.right {right:30px;}

.section-bg-1 {background:linear-gradient(180deg, #c5f3fd 0%, #ededed 100%);}
.section-bg-5 {background:#fff;}

.section-1 {width:100%;height:100%;position:absolute;left:0;top:0;}
.section-1:after {content:"";width:100%;height:100%;position:absolute;left:0;top:0;background:url('../../files/home.png') no-repeat center top;background-size:cover;transition:all .6s ease .3s;opacity:0;}

.fp-completely .section-1:after {opacity:1;}

.section-2 {width:100%;height:100%;position:absolute;left:0;top:0;}
.section-2-left {width:50%;height:100%;position:absolute;left:0;top:0;background-repeat:no-repeat;background-position:center top;background-size:cover;box-shadow:7px -7px 29px 25px rgba(0, 0, 0, 0.1);/*opacity:0;*/transition:all .6s ease;z-index:1;}
.section-2-right {width:50%;height:100%;position:absolute;right:0;top:0;background-repeat:no-repeat;background-position:center bottom;background-size:cover;transition:all .6s ease .2s;/*opacity:0;*/}

#loofah .section-2-left {background-image:url("../../files/loofah_1.jpg");}
#loofah .section-2-right {background-image:url("../../files/loofah_2.jpg");}

#bamboo-linen .section-2-left {background-image:url("../../files/bamboo_linen_1.jpg");}
#bamboo-linen .section-2-right {background-image:url("../../files/bamboo_linen_2.jpg");}

#sisal .section-2-left {background-image:url("../../files/sisal_1.jpg");}
#sisal .section-2-right {background-image:url("../../files/sisal_2.jpg");}

#ramine .section-2-left {background-image:url("../../files/ramie_1.jpg");}
#ramine .section-2-right {background-image:url("../../files/ramie_2.jpg");}

#horsehair .section-2-left {background-image:url("../../files/horsehair_1.jpg");}
#horsehair .section-2-right {background-image:url("../../files/horsehair_2.jpg");}

#pinkset .section-2-left {background-image:url("../../files/pinkset_1.jpg");}
#pinkset .section-2-right {background-image:url("../../files/pinkset_2.jpg");}

#blackset .section-2-left {background-image:url("../../files/blackset_1.jpg");}
#blackset .section-2-right {background-image:url("../../files/blackset_2.jpg");}

#naturalset .section-2-left {background-image:url("../../files/naturalset_1.jpg");}
#naturalset .section-2-right {background-image:url("../../files/naturalset_2.jpg");}


/*.fp-completely .section-2-left {opacity:1;}
.fp-completely .section-2-right {opacity:1;}*/

.section-3 {width:100%;height:100%;position:absolute;left:0;top:0;}
.section-3:after {content:"";width:100%;height:100%;position:absolute;left:0;top:0;background:url('../../files/baby.jpg') no-repeat center top;background-size:cover;transition:all .6s ease;/*opacity:0;*/}

/*.fp-completely .section-3:after {opacity:1;}*/

.section-4 {width:100%;height:100%;position:absolute;left:0;top:0;}
.section-4:after {content:"";width:100%;height:100%;position:absolute;left:0;top:0;background:url('../../files/vlamor.jpg') no-repeat center top;background-size:cover;transition:all .6s ease;/*opacity:0;*/}

/*.fp-completely .section-4:after {opacity:1;}*/

.section-5-bg {width:100%;height:100%;position:absolute;left:0;top:0;z-index:0;background:url('../images/contact_bg.png') no-repeat center;background-size:cover;}
.section-5-footer {width:100%;height:18%;max-height:160px;position:absolute;bottom:0;left:0;background:url("../images/footer_bottom_bg.png") repeat-x left bottom;background-size:auto 100%;z-index:1;}

.section-5-contact {max-width:421px;max-height:585px;width:26%;height:49%;top:0;left:0;position:absolute;z-index:2;}
.section-5-contact img {display:block;margin:0;padding:0;width:100%;}

.section-5-text {position:absolute;left:25%;top:0;z-index:2;}
.section-5-text h2 {font-size:6.2vw;color:#00748d;line-height:120%;letter-spacing:-0.025em;font-family:"Paytone One",sans-serif;}

.section-5-form {position:relative;z-index:2;color:#00748d;text-align:center;width:44.8vw;margin:0 auto;padding-left:7.3vw;font-size:18px;font-weight:600;letter-spacing:0.05em;}
.section-5-form label {display:block;width:100%;margin-bottom:25px;}
.section-5-form .form-control {width:100%;border:2px solid #00748d!important;border-radius:0;background:none transparent!important;box-shadow:none!important;outline:none!important;line-height:56px;padding:0 15px;color:#00748d;font-size:18px;font-weight:600;letter-spacing:0.05em;}
.section-5-form .form-control::-webkit-input-placeholder{color:rgba(0,116,141,0.7);}
.section-5-form .form-control::-moz-placeholder{color:rgba(0,116,141,0.7);}
.section-5-form .form-control:-ms-input-placeholder{color:rgba(0,116,141,0.7);}
.section-5-form .form-control:-moz-placeholder{color:rgba(0,116,141,0.7);}
.section-5-form .btn.btn-primary {width:100%;display:block;padding:0;line-height:60px;border:0;text-align:center;background:#00748d!important;border-radius:0;box-shadow:none!important;color:#fff;font-size:18px;font-weight:800;}
.section-5-form .socials {text-align:center;margin:25px -12px 0 -12px;}
.section-5-form .socials a {display:inline-block;vertical-align:top;border:2px solid #00748d;border-radius:50%;line-height:36px;width:40px;text-align:center;color:#00748d;margin:0 12px;font-size:20px;transition:all .3s ease;}
.no-touch .section-5-form .socials a:hover {background:#00748d;color:#fff;}

.thankyou-page {position:absolute;top:0;left:0;width:100%;height:100%;background:url("../../files/thankyou.jpg") no-repeat center;background-size:cover;}
.thankyou-header {position:fixed;z-index:1;top:0;left:0;width:100%;height:176px;background:#00748d url("../images/thankyou-bg.png") no-repeat left top;background-size:auto 100%;}
.thankyou-header .logo {float:left;}
.thankyou-header .logo h1 {margin:34px 0 0 0;}
.thankyou-header .logo h1 a {display:block;width:205px;height:108px;background:url("../images/sidebar-logo.png") no-repeat;background-size:100%;}
.thankyou-header .navigation {float:right;margin-top:43px;font-size:45px;font-weight:700;line-height:100%;text-align:right;color:#fff;text-transform:uppercase;letter-spacing:-0.05em;}
.thankyou-container {padding-top:176px;text-align:right;letter-spacing:-0.05em;font-size:36px;line-height:120%;text-transform:uppercase;color:#00748d;font-weight:600;}
.thankyou-container strong {font-weight:800;}

.fancybox-overlay {background:rgba(255,255,255,0.2);}
.fancybox-skin {box-shadow:none;background:none transparent;border-radius:20px;}
.fancybox-opened .fancybox-skin {box-shadow:none;border-radius:20px;}
.fancybox-close {background:url("../images/icon-close.png") no-repeat center;}
.modalbox {max-width:1000px;padding:50px;background:#fff;}
.modalbox article {font-size:13px;letter-spacing:-0.025em;line-height:120%;color:#00748d;}
.modalbox article h1 {font-size:15px;letter-spacing:-0.025em;line-height:120%;font-weight:bold;}