/*
Author: Genio - Yüce Özkan
Author URL: http://www.genio.com.tr/
*/

.nav-trigger {display:none;}
.search-form {display:none;}
.nav-mobile {display:none;}
.mobile-img {display:none;}

@media (min-width:1500px) {
}
@media (min-width:1200px) {
}

@media (max-width:1440px) and (max-height:700px) {
    .section-5-contact {max-width:280px;}
    .fp-viewing-0 #sidebar {height:100%;top:0;}
}

@media (max-width:1440px) {
    #header{left:50%;width:788px;margin-left:-340px}
}
@media (max-width:1280px) {
    #header{left:50%;width:708px;margin-left:-300px}
}
@media (max-width:1199px) {

    #header{left:50%;width:658px;margin-left:-290px}

    #sidebar {width:200px;}
    .full-page-section {padding-right:200px;}
    #sidebar .sidebar-table {margin:45px 10px 10px 10px;border:1px solid #fff;border-top:0;padding:35px 10px 20px 10px;}
    #sidebar .sidebar-table:before {height:1px;}
    #sidebar .sidebar-table:after {height:1px;}
    #sidebar form fieldset p {font-size:12px;}
    #sidebar form fieldset .form-control {padding:0 10px;font-size:12px;}
    #sidebar form fieldset button {width:100%;box-shadow:1px 0px 5px 14px rgba(0,116,141,0.34);border-radius:8px;line-height:36px;border:1px solid #005a6d;font-size:14px;}
    #sidebar .phone {font-size:14px;margin:10px 0 20px 0;}
    #sidebar address {font-size:12px;}

    #fp-nav.right {right:220px;}

    .section-3:after {background-position:40% top;}
    .section-4:after {background-position:0% top;}

}
@media (max-width:991px) { /* Tablet portrait */

    body.fp-responsive {overflow-x:hidden!important;}

    #header{display:none;}

    #sidebar {width:230px;}

    .baloncuk {pointer-events:none;touch-action:none;position:fixed;}

    .fp-section.fp-table {height:auto!important;}
    .fp-tableCell {height:auto!important;}
    .section {height:auto!important;}

    .fp-viewing-0 #sidebar {top:0;height:100%;}
    .fp-viewing-0 #sidebar .sidebar-table:before {width:22.5%;}
    .fp-viewing-0 #sidebar .sidebar-table:after {width:22.5%;}
    .fp-viewing-0 #sidebar .sidebar-table .sidebar-logo {opacity:1;transform:scale(1,1);}

    .mobile-img {display:block;width:100%;margin:0;padding:0;max-width:100%;}

    .section-1 {position:relative;top:auto;left:auto;bottom:auto;right:auto;}
    .section-1:after {content:none;}

    .section-2 {position:relative;height:auto;top:auto;left:auto;bottom:auto;right:auto;}
    .section-2-left {position:relative;width:100%;background:none transparent!important;box-shadow:none;}
    .section-2-right {position:relative;width:100%;background:none transparent!important;}

    .section-3 {position:relative;height:auto;top:auto;left:auto;bottom:auto;right:auto;}
    .section-3:after {content:none;}

    .section-4 {position:relative;height:auto;top:auto;left:auto;bottom:auto;right:auto;}
    .section-4:after {content:none;}

    .section-bg-5 .fp-tableCell {vertical-align:top;}
    .section-5-contact {max-width:300px;max-height:inherit;width:100%;height:auto;top:auto;left:auto;bottom:auto;right:auto;position:relative;margin:0 auto;}
    .section-5-contact img {display:block;margin:0;padding:0;width:100%;}

    .section-5-form {width:100%;padding:0 30px;font-size:16px;margin-bottom:90px;}
    .section-5-form label {margin-bottom:15px;}
    .section-5-form .form-control {line-height:40px;padding:0 15px;font-size:16px;}
    .section-5-form .btn.btn-primary {line-height:40px;font-size:16px;}
    .section-5-form .socials {margin:15px -12px 0 -12px;}

    .section-5-text {position:relative;height:auto;top:auto;left:auto;bottom:auto;right:auto;z-index:2;text-align:center;}
    .section-5-text h2 {font-size:5vw;line-height:120%;}

    .section-5-footer {height:8%;}

    .thankyou-wrapper .valign-middle {vertical-align:top;}
    .thankyou-page {background:url("../../files/mobile/thankyou.jpg") no-repeat center;background-size:cover;}
    .thankyou-container {padding-top:200px;font-size:32px;line-height:120%;text-align:center;}

}
@media (max-width:991px) and (orientation:portrait) { /* Tablet portrait */
}
@media (max-width:991px) { /* Mobile landscape */
}
@media (max-width:991px) and (min-width:768px) {
}
@media (max-width:767px) {

    .full-page-section {padding-right:0;}
    body.fp-responsive {padding-top:520px;}
    #sidebar {position:absolute;top:0;left:0;width:100%;height:520px;}
    .fp-viewing-0 #sidebar {top:0;height:520px;}
    .fp-viewing-0 #sidebar .sidebar-table:before {width:22.5%;}
    .fp-viewing-0 #sidebar .sidebar-table:after {width:22.5%;}
    .fp-viewing-0 #sidebar .sidebar-table .sidebar-logo {opacity:1;transform:scale(1,1);}

    .section-5-text h2 {font-size:24px;}
    .section-5-contact img {margin-left:-15px;margin-bottom:20px;}

    .section-5-form {padding:0 15px;font-size:14px;}
    .section-5-form label {margin-bottom:10px;}
    .section-5-form .form-control {font-size:14px;}
    .section-5-form .btn.btn-primary {font-size:14px;}

    .thankyou-page {position:fixed;overflow:auto;}
    .thankyou-header {height:80px;}
    .thankyou-header .logo {float:none;}
    .thankyou-header .logo h1 {margin:10px 0 0 0;}
    .thankyou-header .logo h1 a {width:114px;height:60px;margin:0 auto;}
    .thankyou-header .navigation {float:none;width:100%;position:fixed;bottom:20px;left:0;text-align:center;margin:0;font-size:20px;line-height:120%;color:#00748d;}
    .thankyou-header .navigation span {font-size:14px;line-height:120%;display:block;}
    .thankyou-container {padding-top:100px;font-size:16px;line-height:120%;text-align:center;}

    .fancybox-skin {border-radius:10px;}
    .fancybox-opened .fancybox-skin {border-radius:10px;}
    .modalbox {padding:15px;}

}

/*
iphone 6 & iphone 6 plus */
@media (min-width:569px) and (max-width:767px) {

}

@media (min-width:768px) {

    .select-tyres-wizard-form .col-sm-auto {width:20%;}

}